<div class="container">
<div *ngIf="!player; else divPlayer" 
class="alert alert-info">
Espere por favor!! 
</div>



    <ng-template #divPlayer>
        <div class="row">
           <div class="col-12">
               <h1><strong>{{player.name | uppercase}} {{player.last | uppercase}}</strong> </h1>
           </div>
        </div>
        
        <div class="row">
           <div class="col-4">
               
               <img [src]="player.image" class="img-thumbnail" />
           </div>
        
           <div class="col">
               <h3>Datos del Jugador</h3>
               <ul class="list-group">
                   <li class="list-group-item">
                       <strong>Position: </strong>{{ player.position}}
                   </li>
                   <li class="list-group-item">
                       <strong>Dorsal: </strong>{{ player.dorsal }}
                   </li>
                   <li class="list-group-item">
                       <strong>Nacionalidad: </strong>Colombiana
                   </li>
                   <li class="list-group-item">
                    <strong>Partidos: </strong>23
                </li>
               </ul>
           </div>
        </div>
        
        </ng-template>

</div>











