<nav class="navbar navbar-expand-sm p-0 navbarStyle">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <a class="navbar-brand" routerLink="/home">
        <img
          src="/assets/brand/logo.svg"
          alt=""                  
          class="d-inline-block align-text-top logoFiore"
        />
      </a>

      <a
        routerLink="/news"
        class="nav-link textNavbar"
        routerLinkActive="router-link-active"
      >
        <i class="fal fa-newspaper"></i> Noticias
      </a>
      <a
        routerLink="/reUser"
        class="nav-link textNavbar"
        routerLinkActive="router-link-active"
      >
        <i class="fas fa-history"></i> Historia
      </a>
      <a
        routerLink="./plantilla"
        class="nav-link textNavbar"
        routerLinkActive="router-link-active"
      >
        <i class="fas fa-users"></i> Plantilla
      </a>
      <a
        routerLink="/tienda"
        class="nav-link textNavbar"
        routerLinkActive="router-link-active"
      >
        <i class="fas fa-bags-shopping"></i> Tienda
      </a>
    </div>
  </div>
</nav>
