.navbarStyle{
    background-color: rgb(40, 28, 73);  
    height: 60px;  
    width: 100%;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.logoFiore{
    width: "90";
    height: 55px;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(247, 247, 247));  
}

.textNavbar{
    font-size: 15px;
    color: white;   
    font-family: 'Bebas Neue', cursive;  
}

.container{
    background-color: black;
}

.textNavbar1{
    font-size: 15px;
    color: black;   
    font-family: 'Bebas Neue', cursive;  
}