<div class="container">
    <p>AGREGAR EQUIPO</p>
    <div class="row">
        <div class="col-sm-6">
            <form>
                
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input [(ngModel)]="player.name" type="text" class="form-control" name="name" placeholder="Ingrese nombre por favor">
                </div>
                <div class="mb-3">
                    <label class="form-label">Apellido</label>
                    <input [(ngModel)]="player.last" type="text" class="form-control" name="last">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ruta Imagen</label>
                    <input [(ngModel)]="player.image" type="text" class="form-control" name="imagen">
                </div>
                <div class="mb-3">
                    <label class="form-label">Dorsal</label>
                    <input [(ngModel)]="player.dorsal" type="number" class="form-control" name="dorsal">
                </div>

                <div class="mb-3">
                    <label class="form-label">Position</label>
                    <select  [(ngModel)]="player.position" type="number" name="position" class="form-select" aria-label="Default select example">                  
                        <option value="1">arquero</option>
                        <option value="2">defensa</option>
                        <option value="3">medicampista</option>
                        <option value="4">delantero</option>
                      </select>
                </div>                
                <button (click)="registerPlayer()" class="btn btn-primary">Agregar</button>
            </form>
        </div>
    </div>    
</div>
