<nav class="navbar navbar-expand-sm p-0 navbarStyle">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <a
        routerLink="/register"
        class="nav-link textNavbar"
        routerLinkActive="router-link-active"
      >
        <i class="fas fa-user"></i> Registrarse
      </a>

      <a
        routerLink="/logini"
        class="nav-link textNavbar"
        routerLinkActive="router-link-active"
      >
        <i class="fas fa-user"></i> Iniciar Sesión
      </a>

      <a style="cursor: pointer" class="nav-link">
        <i class="fas fa-user-times"></i> Salir
      </a>

      <div class="logos ms-auto">
        <a class="navbar-brand logo" routerLink="/home">
          <img
            src="/assets/marcas/adidas.svg"
            alt=""
            width="50"
            height="60"
            class="d-inline-block ms-auto"
          />
        </a>

        <a class="navbar-brand" routerLink="/home">
          <img
            src="/assets/marcas/team.svg"
            alt=""
            width="100"
            height="60"
            class="d-inline-block ms-auto"
          />
        </a>

        <a class="navbar-brand" routerLink="/home">
          <img
            src="/assets/marcas/col.svg"
            alt=""
            width="40"
            height="50"
            class="d-inline-block ms-auto"
          />
        </a>
      </div>
    </div>
  </div>
</nav>
