<nav class="navbar navbar-expand-sm p-0 navbarStyle">
    <div class="container-fluid">
      <div class="row">
        
          <ul class="navbar-nav px-5">
            <li class="nav-item px-1">
              <a routerLink="/register" class="nav-link textNavbar1" routerLinkActive="router-link-active">
                <i class="fas fa-user"></i> Registrarse
              </a>
            </li>
            <li class="nav-item px-1">
            <a routerLink="/logini" class="nav-link textNavbar1" routerLinkActive="router-link-active">
              <i class="fas fa-user"></i> Iniciar Sesión
            </a>
          </li> 
          <li  class="nav-item textNavbar ">
            <a style="cursor: pointer" class="nav-link">
                <i class="fas fa-user-times"></i> Salir               
            </a>
        </li>
  
        <li> 
        <a class="navbar-brand" routerLink="/home">
          <img src="/assets/marcas/adidas.svg" alt="" width="50" height="60" class="d-inline-block  ms-auto">       
        </a>
      </li>   
  
      <li> 
        <a class="navbar-brand" routerLink="/home">
          <img src="/assets/marcas/team.svg" alt="" width="100" height="60" class="d-inline-block  ms-auto">       
        </a>
      </li>  
  
      <li> 
        <a class="navbar-brand" routerLink="/home">
          <img src="/assets/marcas/col.svg" alt="" width="40" height="50" class="d-inline-block  ms-auto">       
        </a>
      </li>  
  
          </ul>      
        
      </div>
    </div>
  </nav>
