.navbarStyle{
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 100%;
    
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.logo{
    font-size: 30px;
    
    color-adjust: white;
    text-decoration-color: white;
    
   
    

}

.textNavbar{
    font-size: 15px;
    color: rgb(255, 255, 255);
   
    font-family: 'Bebas Neue', cursive;  
}

.container{
    background-color: black;
}

.logo{
    filter: opacity(0.5) drop-shadow(0 0 0 white);
}

.textNavbar1{
    font-size: 15px;
    color: black;
   
    font-family: 'Bebas Neue', cursive;  
}